# Python キャッシュ
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python

# キャッシュディレクトリ
.cache/
cache/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# サムネイルキャッシュ
thumbs.db
Thumbs.db
ehthumbs.db
.thumbnails/
.thumb/

# ユーザー設定ファイル（アプリ実行時に自動更新される）
config/config.json
config/qt_theme_settings.json
config/qt_theme_user_settings.json

# 仮想環境
.vscode/
venv/
.venv/

# IDE や OSのゴミファイル
.DS_Store
*.swp
*.ini
*.html

# その他除外したい一時ファイル
*.log
*.spec
*.ini
dist/
build/

# Package metadata and distribution files
*.egg-info/
*.whl
*.tar.gz
